
#content_wrapper {
    width: 1000px;
    height: 670px;
    border: 1px solid green;
    margin: 0 auto;
}

#calendar_wrapper {
    width: 100%;
    height: 20%;
    background-color: red;
    text-align: center;
    color: white;
}




/*
 * plates
 */
 
 #plates_wrapper {
    width: 100%;
    height: 40%;
 }
 
 #trash_can_wrapper {
     width: 25%;
     height: 100%;
     float: left;
 }
 
 #trash_can {
     width: 100%;
     height: 100%;
     background-color: black;
 }
 
 #dinner_plate_wrapper {
     width: 50%;
     height: 100%;
     float: left;
 }
 
 #dinner_plate {
     width: 100%;
     height: 100%;
     float: left;
     background-color: green;
 }
 
 #dinner_plate_P {
     width: calc(100%/3);
     height: 100%;
     float: left;
 }
 
 #dinner_plate_C {
     width: calc(100%/3);
     height: 100%;
     float: left;
 }
 
 #dinner_plate_V {
     width: calc(100%/3);
     height: 100%;
     float: left;
 }
 
 #dessert_plate_wrapper {
     width: 25%;
     height: 100%;
     float: left;
 }
 
 #dessert_plate {
     width: 100%;
     height: 100%;
     background-color: blue;
 }
 
 .hidden {
     display: none;
 }



/*
 * food_table
 */
 
 #food_table_wrapper {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
 }
 
 #food_table_tabs {
     list-style: none;
     margin: 0;
     padding: 0;
     height: 30px;
 }
 
 .food_table_tab {
     display: block;
     float: left;
     width: calc(20% - 1px);
     height: 100%;
     
     border: 1px solid black;
     border-top: 0;
     border-left: 0;
 }
 
 #tab_D {
     border-right: 0;
     width: 20%;
 }
 
 .tab_selected {
     border-bottom: 0;
 }
 
 .tab_deactivated {
     background-color: #aaa;
 }
 
 #food_table {
     width: 100%;
     height: calc(100% - 30px);
     overflow: scroll;
 }
 
 .food_item_wrapper {
     width: 25%;
     height: 150px;
     position: relative;
     float: left;
 }
 
 .food_item {
     width: 90px;
     height: 90px;
     margin-top: 30px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     background-color: orange;
 }
 
 