body {
	font-family: Arial;
}

#content_wrapper {
    width: 1000px;
    height: 630px;
    margin: 0 auto;
}

/*
*  calendar	
*/

#calendar_wrapper {
    width: 100%;
    height: 20%;
    background-color: white;
    text-align: center;
    color: #999;
    margin: 20px;
}

#calendar{
	width: 100%;
	height: 100%;
}

#calendar td{
	top: 50px;
	width: 11%;
	height: 100%;
}

.day {
	border: 1px solid #999;
}

.day img{
	padding-top: 10%;
	width: 50px;
	height: 50px;
}


/*
 * plates
 */
 
 #plates_wrapper {
    width: 100%;
    height: 50%;
 }
 
 #trash_can_wrapper {
     width: 25%;
     height: 100%;
     float: left;
}
 
 #trash_can {
     width: 100%;
     height: 100%;
     background: url('img/trashcan.png') no-repeat;
     background-position: center center;
     background-size: 40%;
}
 
 #dinner_plate_wrapper {
     width: 50%;
     height: 100%;
     float: left;
 }
 
 #dinner_plate {
     width: 100%;
     height: calc(100% - 50px);
     float: left;
     text-align: center;
     vertical-align: center;
     background-image: url("img/placemat.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
 }
 
 #dinner_plate table {
     width: calc(100% - 200px);
	 height: 200px;
	 margin-top: 40px;
	 margin-left: 100px;
	 table-layout: fixed;
	 border-collapse: collapse;
 }
 
 #dinner_plate_icon_wrapper {
     width: 100%;
     height: 50px;
 }
 
  #dinner_plate_icon_wrapper img {
     margin-left: calc(100%/6 + 10px);
 }
 
 #dessert_plate_wrapper {
     width: 25%;
     height: 100%;
     float: left;
 }
 
 #dessert_plate {
     width: calc(100%-80px);
     height: calc(100% - 50px - 100px);
     text-align: center;
     vertical-align: center;
     background-image: url("img/dessert.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;  
     padding-left: 80px;
     padding-top: 100px;
 }
 
 .hidden {
     display: none;
 }



/*
 * food_table
 */
 
 #food_table_wrapper {
    width: 80%;
    height: 30%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
 }
 
 #food_table_tabs {
     list-style: none;
     margin: 0;
     padding: 0;
     height: 30px;
 }
 
 .food_table_tab {
     display: block;
     float: left;
     width: calc(20% - 1px);
     height: 100%;
     
     border: 1px solid black;
     border-top: 0;
     border-left: 0;
 }
 
 #tab_D {
     border-right: 0;
     width: 20%;
 }
 
 .tab_selected {
     border-bottom: 0;
 }
 
 .tab_deactivated {
     background-color: #aaa;
 }
 
 #food_table {
     width: 100%;
     height: calc(100% - 30px);
     overflow: scroll;
 }
 
 .food_item_wrapper {
     width: 18%;
     height: 110px;
     padding-left: 7%;
     padding-top: 20px;
     float: left;
 }

 .food_item {
     width: 90px;
     height: 90px;
 }

.small_icon {
    width: 20px;
    height: 20px;
 }

.med_icon {
    width: 40px;
    height: 40px;
 }
